body {
    background-color: #abd1c6;
    font-family: 'Oswald', sans-serif;
    color: #0f3433;
    font-size:20px;
}

h5 {
    font-size: 1.5em;
    font-weight: bold;
}

nav.navbar {
    background-color: #004643;
    color: #f9bc60; !important
}

nav.navbar li a{
    color: #f9bc60 !important
}

navbar-brand {
    color: #f9bc60;
}

button.btn-primary {
    background-color: #004643;
    color: #ffffff;
}

.fab {
    font-size: 48px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 400px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

a {
    color: #e16162;
}