body {
    background-color: #abd1c6;
    font-family: 'Oswald', sans-serif;
    color: #0f3433;
}

h5 {
    font-size: 1.5em
}

nav.navbar {
    background-color: #004643;
    color: #f9bc60;
}

nav.navbar li a{
    color: #f9bc60 !important
}

button.btn-primary {
    background-color: #004643;
    color: #e16162;
}